{% extends 'blog/base.html' %}
{% load staticfiles %}

<style>

</style>


{% block content %}
    {% for article in contacts %}

        <article class="am-g blog-entry-article">
            <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">
                <img src="{% static 'assets/i/f10.jpg' %}" alt="" class="am-u-sm-12">
            </div>
            <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
                <span><a href="" class="blog-color">article &nbsp;</a></span>
                <span> @{{ article.user.nickname }} &nbsp;</span>
                <span>{{ article.create_date|date:'Y/m/d' }}</span>&nbsp;&nbsp;&nbsp;
                <a href="javascript:void(0)" class="vote-up" article="{{ article.pk }}"><i class="fa fa-thumbs-o-up"></i>&nbsp;赞</a>&nbsp;&nbsp;
                <a href="javascript:void(0)" class="vote-down" article="{{ article.pk }}"><i class="fa fa-thumbs-o-down"></i>&nbsp;踩</a>
                <h1><a href="{% url 'articleDetail' article.pk %}" id="article-title">{{ article.title }}</a></h1>
                <p>{{ article.desc|slice:'49' }}</p>
                <p><a href="" class="blog-continue">continue reading</a></p>
            </div>
        </article>

    {% empty %}
        <h3>暂无文章！</h3>
    {% endfor %}

{#    <ul class="am-pagination">#}
{#          <li class="am-pagination-prev"><a href="">&laquo; Prev</a></li>#}
{#          <li class="am-pagination-next"><a href="">Next &raquo;</a></li>#}
{#    </ul>#}
    <ul class="am-pagination am-pagination-centered">

         {% if contacts.has_previous %}
            <li><a href="?page={{ contacts.previous_page_number }}">&laquo;</a></li>
         {% endif %}

         {% for page in paginator.page_range %}
         <li><a href="?page={{ page }}">{{ page }}</a></li>
         {% endfor %}

         {% if contacts.has_next %}
            <li><a href="?page={{ contacts.next_page_number }}">&raquo;</a></li>
         {% endif %}


    </ul>


{% endblock %}


{% block sidebar %}
    <div class="am-u-md-4 am-u-sm-12 blog-sidebar">
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-text-center blog-title"><span>About ME</span></h2>
            <img src="{% static 'images/369.jpg' %}" alt="about me" class="blog-entry-img">
            <p userid="{{ request.user.pk }}" id="user-id">{{ request.user.nickname }}</p>
            <p>
                我是Python语言的粉丝
            </p>
            <p>我不想成为一个平庸的人</p>
        </div>
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-text-center blog-title"><span>Contact ME</span></h2>
            <p>
                <a href=""><span class="am-icon-qq am-icon-fw am-primary blog-icon"></span></a>
                <a href=""><span class="am-icon-github am-icon-fw blog-icon"></span></a>
                <a href=""><span class="am-icon-weibo am-icon-fw blog-icon"></span></a>
                <a href=""><span class="am-icon-reddit am-icon-fw blog-icon"></span></a>
                <a href=""><span class="am-icon-weixin am-icon-fw blog-icon"></span></a>
            </p>
        </div>
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-title"><span>CATEGORY</span></h2>
            <ul class="am-list">
                {% for cate in cate_list %}
                    <li><a href="{% url 'category' cate.1 %}">{{ cate.0 }}  ({{ cate.2 }})</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="blog-clear-margin blog-sidebar-widget blog-bor am-g ">
            <h2 class="blog-title"><span>TAG cloud</span></h2>
            <div class="am-u-sm-12 blog-clear-padding">
                {% for tag in tags_list %}
                    <a href="{% url 'tag' tag.pk%}" class="blog-tag">{{ tag.name }}</a>
                {% endfor %}



            </div>
        </div>

    </div>

{% endblock sidebar %}


