{% extends 'blog/login.html' %}
{% load staticfiles %}

{% block btn %}
    <a href="{% url 'login' %}" class="btn btn-primary refer-login" role="button">登陆</a>

{% endblock btn %}

{% block content %}
    <h2 class="form-signin-heading">Please sign up </h2>
    <label for="inputUsername" class="sr-only">Username</label>
    {{ register_form.username }}
    <p class="error-msg"></p>

    <label for="inputPassword" class="sr-only">Password</label>
    {{ register_form.password }}
    <p class="error-msg"></p>

    <label for="inputRepeatPassword" class="sr-only">RepeatPassword</label>
    {{ register_form.rePassword }}
    <p class="error-msg"></p>

    <label for="inputEmail" class="sr-only">Email</label>
    {{ register_form.email }}
    <p class="error-msg"></p>

    <label for="inputPhone" class="sr-only">Phone</label>
    {{ register_form.phone }}
    <p class="error-msg"></p>

    <div class="captcha-con">
        <label for="inputValidCode" class="sr-only">ValidCode</label>
        {{ register_form.captcha }}
        <img src="{% url 'captcha' %}" alt="" class="captcha-img" id="captcha-img">
        <p class="error-msg"></p>

    </div>

    <button class="btn btn-lg btn-primary btn-block" type="button" id="sign-up">Sign up</button>
    {% csrf_token %}
{% endblock %}


{#<script>#}
    {#CSRFtoken#}
{#    $.ajaxSetup({#}
{#        data: {csrfmiddlewaretoken: '{{ csrf_token }}'}#}
{#    });#}
{##}
{#</script>#}


  


